#toppingsList {
    height: 600px;
}

.container {
    display: flex;
}

#pizzaCategories {
    /* margin: 2%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#pizzaCategories section {
    /* margin: 1%; */
    width: 33.33%;
}

#pizzaCategories section fieldset {
    /* border: 3px solid purple; */
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    flex-direction: column;
}