/* Box Model Hack */
*{
    box-sizing: border-box;
}

#containerPizzaStyles {
    margin: 10px;
    font-size: 20px;
    /* box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.5); */
}

#containerPizzaStyles legend {
    font-size: 24px;
}

#containerPizzaNames {
    margin: 10px;
    font-size: 20px;
}

#containerPizzaNames legend {
    font-size: 24px;
}

#containerPizzaCategories {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#containerPizzaCategories fieldset {
    border: 3px solid red;
    width: 30%;
}

#containerPizzaCategories fieldset legend {
    font-size: 24px;
}

input[type="checkbox"] {
    margin: 5px 5px 5px 15px;
}

.chkBoxes {
    display: flex;
    flex-direction: column;
}

button {
    font-size: 20px;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    background-color: red;
    box-shadow: 10px 10px 10px rgba(255, 0, 0, 0.5);
}

.button {
    display: flex;
    flex-direction: column;
}