#containerPizzaCategories {
    /* margin: 2%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#containerPizzaCategories section {
    /* margin: 1%; */
    width: 33.33%;
}

#containerPizzaCategories section fieldset {
    /* border: 3px solid purple; */
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    flex-direction: column;
}